/*
  Colours:
  Primary Colour #e86b00 (orange)
  Secondary Colour #fff (white)
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #e86b00;
  color: #fff;
  padding: 0.938em;
  word-wrap: break-word;
}

main {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0
  }
  ;
  to {
    opacity: 1
  }
  ;
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  ;
  to {
    opacity: 1
  }
  ;
}

@media (min-width: 1200px) {
  main {
    width: 1140px;
  }
}

@media (min-width: 992px) {
  main {
    width: 960px;
  }
}

@media (min-width: 768px) {
  main {
    width: 720px;
  }
}

@media (min-width: 576px) {
  main {
    width: 540px;
  }
}

div {
  max-width: 100%;
  width: 100%;
}

#quote-text {
  font-size: 3.125em;
  font-weight: bold;
  text-align: justify;
}

#quote-details {
  margin-top: 2.5em;
}

#character {
  font-weight: bold;
}

#film {
  font-weight: bold;
  font-style: italic;
}

button {
  margin-top: 2.5em;
  font-family: Helvetica, Arial, sans-serif;
  background-color: transparent;
  font-size: 1em;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  outline: none;
  padding: 0.313em 0.625em;
}

button:hover {
  background-color: #fff;
  color: #e86b00;
  cursor: pointer;
}

#tweet-button {
  margin-left: 0.625em;
}

.hidden {
  visibility: hidden;
}